.dpmsg-Block {
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: var(--border-radius);
  box-shadow: 0 4px 8px 1px rgba(51, 51, 62, 0.1);
  display: block;
  padding: var(--space) var(--space) 25px;
}

.dpmsg-BlockWrapper {
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
  padding-bottom: var(--space);
}

.dpmsg-BlockHeader {
  color: var(--gray-500);
  display: block;
  font-size: 18px;
  letter-spacing: 0.4px;
  margin-bottom: var(--sm-space);
  padding-bottom: 12px;
  position: relative;
}

.dpmsg-BlockHeader::after {
  background-color: var(--blue);
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 0;
  position: absolute;
  right: 0;
  width: 100%;
}

.dpmsg-BlockText {
  color: #5f768a;
  display: block;
  font-size: var(--h1);
  margin-bottom: 18px;
  max-width: 260px;
}
