.dpmsg-QuickSearchControl {
  position: relative;
  width: calc(100% - 20px);

  & .dpmsg-QuickSearchControl--input {
    background: #fff;
    border: 1.5px solid var(--grey-light);
    border-radius: 4px;
    color: var(--grey-darkest);
    font-family: Rubik, sans-serif;
    outline: none;
    padding: 13px 60px;
    width: calc(100% - 120px);
  }

  & .dpmsg-QuickSearchControl--label {
    background-color: #fff;
    border: none;
    color: var(--color-primary);
    font-size: 26px;
    height: 32px;
    left: 16px;
    padding: 0;
    position: absolute;
    top: 7px;
    width: 32px;

    & span {
      display: none;
    }
  }

  & .dpmsg-QuickSearchControl--hint {
    color: var(--grey-darkest);
    font-style: italic;
    font-size: 14px;
    font-weight: normal;
    margin-top: 15px;
  }
}

.dpmsg-QuickSearchResults {
  margin-top: 7px;

  & .dpmsg-QuickSearchEntry {
    margin-top: 15px;
    max-width: calc(100% - 20px);

    & .dpmsg-QuickSearchExcerpt {
      line-height: 150%;
    }

    & h4 {
      font-size: 14px;
      line-height: 150%;
      margin: 0 0 11px 0;
      max-width: calc(100% - 20px);
    }

    & .dpmsg-QuickSearchEntry--divider {
      background-color: var(--grey-light);
      height: 1px;
      margin-top: 10px;
    }

    & .dpmsg-QuickSearchExcerptLabel {
      background-color: var(--grey-lighter);
      color: var(--grey-darkest);
      display: inline-block;
      margin-right: 5px;
      padding: 7px;
    }

  }
}
