
.dpmsg-MessengerFrame.frame-root {
  bottom: 20px;

  &.dpmsg-MessengerFrame--right {
    right: 25px;
  }

  &.dpmsg-MessengerFrame--left {
    left: 10px;
  }

  &.dpmsg-ScreenMobile {
    bottom: 0;
    left: 0;
    right: unset;
  }
}

.dpmsg-AnimationDiv {

  align-items: flex-end;
  border-radius: 4px;
  box-shadow: 5px 0 20px rgba(29, 62, 85, 0.3);
  display: flex;

  & > div {
    height: 100%;
  }
}

.dpmsg-Control {
  background-color: var(--color-primary);
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  color: var(--header-icon-text-color);
  height: 34px;
  left: 0;
  min-height: 34px;
  position: relative;
  top: 0;
  width: 400px;
  z-index: 9999;
}

.dpmsg-ScreenWrap {
  align-items: flex-end;
  align-self: flex-end;
  box-align: end;
  display: flex !important;
  flex-wrap: wrap;
  height: 100%;
  vertical-align: top;
  width: 400px;
}

.dpmsg-Screen {
  background-color: var(--color-secondary);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  padding-top: 0;
  width: 400px;
}

.dpmsg-ScreenContent {
  align-self: flex-start;
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;

  & > .scrollarea {
    height: 100%;
    overflow: visible;

    &.fullHeight {

      & .dpmsg-ScreenContentWrapper {

        & .Block--chat {
          height: 100%;
        }
      }

      & .scrollbar-container.vertical {
        display: none;
      }

      & .dpmsg-ScreenFooter {
        bottom: 0;
        left: 0;
        position: absolute;
      }
    }
  }

  &.dpmsg-isChatScreenContent {

    display: flex;
    flex-direction: column;

    &.dpmsg-isChatEnded {

      & > .scrollarea {
        height: calc(100% - 40px);
      }
    }

    & > .scrollarea {
      overflow: hidden;

      & .dpmsg-ScreenContentWrapper {
        margin-bottom: 0;
        padding-bottom: 0;
      }

      & .Block--chat {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        margin-bottom: 0;
      }

      & .scrollbar-container {
        height: initial;
      }

    }

    & .dpmsg-WrapTextarea {
      box-shadow: 0 5px 5px rgba(29, 62, 85, 0.15);
      margin: -5px 22px 0;
      min-height: 90px;
      width: calc(100% - 44px);
    }
  }

  & .dp-pc_field {

    & .dp-pc_input, & .dp-pc_date-picker {
      border: 1px solid var(--grey-light);
      font-family: var(--font-family-base);
      font-size: 16px;
    }

    & .dp-pc_radio > i {
      top: 4px;
    }
  }
}

.dpmsg-ScreenHeader {
  background-color: var(--color-primary);
  display: flex;
  flex-wrap: wrap;
  height: 116px;
  margin-bottom: -50px;
  padding: 0 25px 62px 30px;
  width: 100%;
}

.dpmsg-ScreenHeaderLogo img {
  height: 30px;
}

.dpmsg-AutoStart .dpmsg-Screen {
  box-shadow: 0 5px 10px rgba(29, 62, 85, 0.3);
}

.is-minimal .dpmsg-ScreenHeaderLogo img {
  height: 37px;
}

.is-minimal .dpmsg-ScreenHeaderLogo svg {
  color: var(--header-icon-text-color);
  height: 37px;
}

.is-minimal .dpmsg-ScreenHeaderLogo svg path {
  fill: var(--header-icon-text-color);
}

.is-minimal .dpmsg-ScreenHeader {
  flex-direction: row;
  padding: 0 25px 65px 30px;
}

.dpmsg-AutoStart .dpmsg-ScreenHeader {
  padding-bottom: 110px;
  padding-top: 34px;
}

.dpmsg-ScreenHeaderLogo {
  flex: 0 0 100%;
  margin-right: 9px;
}

.dpmsg-ScreenHeaderTitle {
  flex: 0 0 100%;
  font-size: 24px;
  letter-spacing: 1.4px;
  padding: 18px 0 var(--xs-space);
}

.is-minimal .dpmsg-ScreenHeaderTitle {
  letter-spacing: 0;
  padding: 0;
}

.is-minimal .dpmsg-ScreenHeaderLogo,
.is-minimal .dpmsg-ScreenHeaderTitle {
  flex: 0 0 auto;
}

.dpmsg-ScreenHeaderText {
  flex: 0 0 100%;
  font-size: var(--h1);
  letter-spacing: 0.4px;
  line-height: 1.168;
}

.dpmsg-ScreenFooter {
  align-items: center;
  align-self: flex-end;
  background-color: var(--color-secondary);
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  margin-top: auto;
  min-height: 33px;
  padding: 0 25px var(--s-space);
  width: 380px;
  z-index: 9999;

  & a {
    margin-left: -6px;
    margin-top: -2px;
  }
}

.dpmsg-ScreenLine {
  background-color: var(--grey-light);
  display: block;
  height: 1px;
  width: 68px;
}

.dpmsg-ScreenFooterText {
  color: var(--grey);
  font-size: var(--h2);
  margin-right: -10px;
}

.dpmsg-VertLine {
  background-color: var(--grey-light);
  height: 1px;
  transform: rotate(90deg);
  width: 25px;
}

.dpmsg-ScreenFooterLogo {
  cursor: pointer;
  height: 20px;
  margin-bottom: -8px;
  position: relative;
}

.dpmsg-ScreenIconRow {
  margin-top: var(--sm-space);
}

.dpmsg-ScreenIconRow.is-left {
  display: flex;
  flex: 0 0 100%;
  justify-content: flex-end;
}

.dpmsg-ScreenHeaderTitle {
  color: var(--header-icon-text-color);
}

.dpmsg-ScreenHeaderText {
  color: #f9f9f9;
}

.is-minimal.is-light .dpmsg-ScreenHeaderText {
  color: #f9f9f9;
}

.is-light .dpmsg-ScreenHeaderText {
  color: var(--grey-darkest);
}

.is-light .dpmsg-ScreenHeader {
  background-color: var(--white);
  background-image: none;
}

.is-minimal.is-light .dpmsg-ScreenHeaderTitle {
  color: #5f7689;
}

.is-light .dpmsg-ScreenHeaderTitle {
  color: #1d3e55;
}

.dpmsg-Screen .dpmsg-IconArrow {
  height: var(--height-icon);
  width: var(--width-icon);
}

.dpmsg-ScreenControls {
  flex: 0 0 100%;

  & .dpmsg-endChatButton {
    background-color: white;
    color: var(--grey-darkest);
    cursor: pointer;
    font-size: 11px;
    font-weight: 500;
    padding: 0 3px;
    position: absolute;
    right: 56px;
    top: 10px;

    &:hover {
      color: var(--color-primary);
    }
  }
}

.dpmsg-ScreenControls a,
.dpmsg-ScreenControls a * {
  cursor: pointer;
  font-size: var(--h1);
}

.dpmsg-ScreenControls,
.dpmsg-ScreenControls a {
  color: var(--white);

  &:hover {
    color: #9db2d8;
  }

  & .dpmsg-BackBtn.dpmsg-LevelLeft {
    left: 10px;
    position: relative;
    top: 8px;
  }

}

.dpmsg-ScreenControls .dpmsg-IconArrow {
  background-image: url('data:image/svg+xml,<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 600 600"><defs><style>.cls-1{fill:%23fff;}</style></defs><title>app_icons</title><path class="cls-1" d="M275,468.73a36.26,36.26,0,0,0,50.26,0l0,0L589.1,206a36.27,36.27,0,0,0-51.29-51.29L300.69,391.8,63.56,154.67A36.27,36.27,0,0,0,12.27,206Z"/></svg>');
  height: 12px;
  width: 12px;
}

.is-light .dpmsg-ScreenControls,
.is-light .dpmsg-ScreenControls a {
  color: #5f7689;

  &:hover {
    color: #9db2d8;
  }
}

.is-light .dpmsg-ScreenControls .dpmsg-IconArrow {
  background-image: url('data:image/svg+xml,<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 600 600"><defs><style>.cls-1{fill: %234395d2;}</style></defs><title>app_icons</title><path class="cls-1" d="M275,468.73a36.26,36.26,0,0,0,50.26,0l0,0L589.1,206a36.27,36.27,0,0,0-51.29-51.29L300.69,391.8,63.56,154.67A36.27,36.27,0,0,0,12.27,206Z"/></svg>');
}

.dpmsg-StartChatScreen-FormMessage {
  color: var(--grey-darkest);
  display: block;
  font-family: Rubik, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 150%;
  margin: 25px 0;
}

.dpmsg-ScreenMobile.dpmsg-ScreenFrame {
  height: 100%;
  width: 100%;

  & .frame-content {
    height: 100%;

    & .dpmsg-AnimationDiv {
      border-radius: 0;
      box-shadow: none;

      & > div {
        height: 100%;
        width: 100%;

        & .dpmsg-ScreenWrap {
          height: 100%;
          margin: 0;
          width: 100%;

          & .dpmsg-Screen {
            border-radius: 0;
            width: 100%;

            & .dpmsg-Control {
              border-radius: 0;
              width: 100%;

              & .dpmsg-ScreenControls a.dpmsg-BackBtn.dpmsg-LevelLeft {
                left: 22px;
              }
            }
          }
        }
      }
    }
  }
}
