.dpmsg-Block {
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: var(--border-radius);
  box-shadow: 0 4px 8px 1px rgba(51, 51, 62, 0.1);
  display: block;
  margin: 0 var(--s-space) 15px var(--s-space);
  padding: 17px var(--xl-space) var(--xl-space);
  position: relative;
}

.dpmsg-BlockWrapper {
  display: block;
  position: relative;
}

.dpmsg-BlockHeader, .dpmsg-BlockInnerHeader {
  color: var(--grey-darkest);
  display: flex;
  font-size: 18px;
  letter-spacing: 0.4px;
  margin-bottom: var(--xxl-space);
  padding-bottom: var(--sm-space);
  position: relative;
}

.dpmsg-BlockInnerHeader {
  margin-bottom: 20px;
  padding-bottom: 0;
}

.dpmsg-BlockInnerContent {
  display: block;
  padding: 0 37px;
}

.dpmsg-BlockInnerHeader, .dpmsg-BlockInnerIcon {
  display: flex;
  justify-content: center;
}

.dpmsg-BlockInnerIcon {
  margin-bottom: 10px;
}

.dpmsg-BlockHeader span {
  color: var(--grey-darkest);
  cursor: pointer;
  font-size: 15px;
  letter-spacing: 0.4px;
}

.dpmsg-BlockHeader::after {
  background-color: var(--color-primary);
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 0;
  position: absolute;
  right: 0;
  width: 100%;
}

.dpmsg-BlockText {
  color: #4c4f50;
  display: block;
  font-size: 16px;
  margin-bottom: 16px;
}

.dpmsg-ChatMessagesDropZone {
  background-color: white;
  border: 2px solid var(--brand-primary);
  border-radius: 4px;
  bottom: 11px;
  left: 10px;
  position: absolute;
  right: 10px;
  top: 0;
  z-index: 10;
}

.dpmsg-ChatMessagesDropZone > div {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  text-align: center;
}

.dpmsg-ChatMessagesDropZone .dpmsg-ChatMessagesDropZoneProgress {
  font-size: 28px;
  margin-bottom: 25px;
}

.dpmsg-ChatMessagesDropZone i {
  color: var(--grey);
  display: flex;
}

.dpmsg-ChatMessagesDropZone p {
  color: var(--grey-dark);
  display: flex;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 150%;
}

.dpmsg-ChatMessagesDropZone .dp-progress {
  width: 90%;
}
