.dpmsg-QuickSearchControl {
  position: relative;
  width: calc(100% - 20px);

  & .dpmsg-QuickSearchControl--wrapper {
    position: relative;

    &:hover, &.focused {

      & .dpmsg-IconSearchClear {
        display: block;
      }
    }
  }

  & .dpmsg-QuickSearchControl--input {
    background: #fff;
    border: 1.5px solid var(--grey-light);
    border-radius: 4px;
    color: var(--grey-darkest);
    font-family: Rubik, sans-serif;
    outline: none;
    padding: 13px 60px;
    width: calc(100% - 120px);
  }

  & .dpmsg-QuickSearchControl--label {
    background-color: #fff;
    border: none;
    color: var(--color-primary);
    font-size: 26px;
    height: 25px;
    left: 12px;
    padding: 0;
    position: absolute;
    top: 12px;
    width: 24px;

    & span {
      display: none;
    }

    & svg {

      & path {
        stroke: var(--color-primary) !important;
      }
    }
  }

  & .dpmsg-IconSearchClear {
    position: absolute;
    right: 12px;
    top: 12px;
    display: none;
  }

  & .dpmsg-QuickSearchControl--hint {
    color: var(--grey-darkest);
    font-size: 14px;
    font-style: italic;
    font-weight: normal;
    margin-top: 15px;
    word-break: break-all;
  }
}

.dpmsg-QuickSearchResults {
  margin-top: 7px;

  & .dpmsg-QuickSearchEntry {
    margin-top: 15px;

    & .dpmsg-QuickSearchExcerpt {
      font-size: 12px;
      height: 34px;
      line-height: 150%;
      overflow: hidden;
      padding-right: 12px;
      position: relative;
      text-align: justify;

      &::before {
        bottom: -2px;
        content: "...";
        position: absolute;
        right: 0;
      }

      &::after {
        background: white;
        content: "";
        height: 10px;
        margin-top: 5px;
        position: absolute;
        right: 0;
        width: 10px;
      }
    }

    & .dpmsg-QuickSearchEntryHeaderLink {
      font-size: 14px;
      font-weight: 400;
      line-height: 150%;
      margin: 0 0 3px 0;
      max-width: calc(100% - 20px);

      & a {
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    & .dpmsg-QuickSearchEntry--divider {
      background-color: var(--grey-light);
      height: 1px;
      margin-top: 10px;
    }

    & .dpmsg-QuickSearchExcerptLabel {
      background-color: var(--grey-lighter);
      color: var(--grey-darkest);
      display: inline-block;
      margin-right: 5px;
      padding: 7px;
    }
  }

  & .dpmsg-QuickSearchFooter {
    color: var(--grey-darkest);
    display: block;
    font-size: 14px;
    font-weight: 400;
    margin: 20px 0;
    text-align: center;
    text-decoration: none;
  }
}
