.dpmsg-WrapInput {
  display: block;
  position: relative;
}

.dpmsg-WrapInput .dpmsg-InputSearch {
  border: 1px solid #dce4eb;
  border-radius: 4px;
  font-size: var(--h1);
  padding: 13px 15px 13px 46px;
  width: 100%;
}

.dpmsg-WrapInput .dpmsg-InputSearch:placeholder {
  color: #b2c0cc;
}

.dpmsg-WrapInput .dpmsg-IconSearch {
  background-image: url("/messenger-style/img/docs/icon-search.png");
  content: "";
  cursor: pointer;
  display: block;
  height: 24px;
  left: 10px;
  position: absolute;
  top: 10px;
  width: 24px;
}

.dpmsg-InputCheckbox {
  display: block;
  height: 0;
  position: absolute;
  visibility: hidden;
  width: 0;
}

.dpmsg-InputCustomCheckbox,
.dpmsg-InputCustomCheckbox * {
  cursor: pointer;
}

.dpmsg-InputCheckboxText {
  color: #6e8293;
  font-size: var(--h4);
}

.dpmsg-InputCheckboxMarker {
  background-color: #f4f7fa;
  border: 1px solid #c3cbd1;
  border-radius: 5px;
  display: inline-block;
  height: 10px;
  position: relative;
  width: 30px;
}

.dpmsg-InputCheckboxMarker::after {
  content: "";
  display: block;
  position: absolute;
  top: -3px;
  left: 0;
  right: auto;
  display: block;
  width: 14px;
  height: 14px;
  background-color: #3c87f3;
  border-radius: 50%;
  transition: left var(--animation-speed);
}

.dpmsg-InputCheckbox:checked + .dpmsg-InputCustomCheckbox .dpmsg-InputCheckboxMarker::after {
  left: 15px;
  transition: left var(--animation-speed);
} 

.dpmsg-InputCheckboxText.is-first {
  color: #3c87f3;
  transition: color var(--animation-speed);
}

.dpmsg-InputCheckbox:checked + .dpmsg-InputCustomCheckbox .dpmsg-InputCheckboxText.is-first {
  color: #6e8293;
  transition: color var(--animation-speed);
}
.dpmsg-InputCheckbox:checked + .dpmsg-InputCustomCheckbox .dpmsg-InputCheckboxText {
  color: #3c87f3;
  transition: color var(--animation-speed);
}