.dpmsg-AnimationDiv {
  & > div {
    height: 100%;
  }
}

.dpmsg-Control {
  background-color: var(--color-primary);
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  color: var(--header-icon-text-color);
  height: 34px;
  left: 0;
  min-height: 34px;
  position: relative;
  top:0;
  width: 388px;
  z-index: 9999;
}

.dpmsg-ScreenWrap {
  align-items: flex-end;
  align-self: flex-end;
  display: flex !important;
  flex-wrap: wrap;
  height: 100%;
  margin: 0 var(--s-space);
  vertical-align: top;
  width: 388px;
  -webkit-box-align: end;
}

.dpmsg-Screen {
  background-color: var(--color-secondary);
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 0;
  width: 400px;
  border-radius: var(--border-radius);
  overflow: hidden;
}

.dpmsg-ScreenContent {
  align-self: flex-start;
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;

  & >.scrollarea {
    height: 100%;
    overflow: visible;

    & >.scrollarea-content {
      height: 100%;
    }

    & .dpmsg-ScreenContentWrapper {
      display: flex;
      flex-direction: column;
    }

    &.fullHeight {
      & .scrollbar-container.vertical {
        display: none;
      }
    }
  }

  & .dp-pc_field {

    & .dp-pc_input {
      font-family: var(--font-family-base);
      font-size: 16px;
    }
  }
}

.dpmsg-ScreenHeader {
  background-color: var(--color-primary);
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -50px;
  height: 116px;
  padding: 0 25px 62px 25px;
  width: 100%;
}

.dpmsg-ScreenHeaderLogo img {
  height: 30px;
}

.is-minimal .dpmsg-ScreenHeaderLogo img {
  height: 37px;
}

.is-minimal .dpmsg-ScreenHeaderLogo svg {
  color: var(--header-icon-text-color);
  height: 37px;
}

.is-minimal .dpmsg-ScreenHeaderLogo svg path {
  fill: var(--header-icon-text-color);
}

.is-minimal .dpmsg-ScreenHeader {
  padding: 0 25px 65px 23px;
  flex-direction: row;
}

.dpmsg-ScreenHeaderLogo {
  flex: 0 0 100%;
  margin-right: 9px;
}

.dpmsg-ScreenHeaderTitle {
  flex: 0 0 100%;
  font-size: 24px;
  letter-spacing: 1.4px;
  padding: 18px 0 var(--xs-space);
}

.is-minimal .dpmsg-ScreenHeaderTitle {
  letter-spacing: 0;
  padding: 0;
}

.is-minimal .dpmsg-ScreenHeaderLogo,
.is-minimal .dpmsg-ScreenHeaderTitle {
  flex: 0 0 auto;
}

.dpmsg-Block {
  margin: 0 var(--xs-space) 10px var(--xs-space);
}

.dpmsg-ScreenHeaderText {
  flex: 0 0 100%;
  font-size: var(--h1);
  letter-spacing: 0.4px;
  line-height: 1.168;
}

.dpmsg-ScreenFooter {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  padding: 0 25px var(--xs-space);
  width: 100%;
  align-self: flex-end;
}

.dpmsg-ScreenLine {
  background-color: #e4e4e4;
  display: block;
  height: 1px;
  width: 56px;
}

.dpmsg-ScreenFooterText {
  color: #666;
  font-size: var(--h4);
}

.dpmsg-VertLine {
  background-color: #d1d5dc;
  height: 25px;
  width: 2px;
}

.dpmsg-ScreenFooterLogo {
  cursor: pointer;
  height: 20px;
  margin-bottom: -4px;
  position: relative;
}

.dpmsg-ScreenIconRow {
  margin-top: var(--sm-space);
}

.dpmsg-ScreenIconRow.is-left {
  display: flex;
  flex: 0 0 100%;
  justify-content: flex-end;
}

.dpmsg-ScreenHeaderTitle {
  color: var(--header-icon-text-color);
}

.dpmsg-ScreenHeaderText {
  color: #f9f9f9;
}

.is-minimal.is-light .dpmsg-ScreenHeaderText {
  color: #f9f9f9;
}

.is-light .dpmsg-ScreenHeaderText {
  color: var(--grey-darkest);
}

.is-light .dpmsg-ScreenHeader {
  background-color: var(--white);
  background-image: none;
}

.is-minimal.is-light .dpmsg-ScreenHeaderTitle {
  color: #5f7689;
}

.is-light .dpmsg-ScreenHeaderTitle {
  color: #1d3e55;
}

.dpmsg-Screen .dpmsg-IconArrow {
  height: var(--height-icon);
  width: var(--width-icon);
}

.dpmsg-ScreenControls {
  flex: 0 0 100%;

  & .dpmsg-endChatButton {
    background-color: white;
    color: var(--grey-darkest);
    cursor: pointer;
    font-size: 11px;
    font-weight: 500;
    padding: 0 3px;
    position: absolute;
    right: 66px;
    top: 10px;

    &:hover {
      color: var(--color-primary);
    }
  }
}

.dpmsg-ScreenControls a,
.dpmsg-ScreenControls a * {
  cursor: pointer;
  font-size: var(--h1);
}

.dpmsg-ScreenControls,
.dpmsg-ScreenControls a {
  color: var(--white);

  &:hover {
    color: #9db2d8;
  }
  & .dpmsg-BackBtn.dpmsg-LevelLeft {
    position: relative;
    left: 11px;
    top: 8px;
  }

}

.dpmsg-ScreenControls .dpmsg-IconArrow {
  background-image: url('data:image/svg+xml,<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 600 600"><defs><style>.cls-1{fill:%23fff;}</style></defs><title>app_icons</title><path class="cls-1" d="M275,468.73a36.26,36.26,0,0,0,50.26,0l0,0L589.1,206a36.27,36.27,0,0,0-51.29-51.29L300.69,391.8,63.56,154.67A36.27,36.27,0,0,0,12.27,206Z"/></svg>');
  width: 12px;
  height: 12px;
}

.is-light .dpmsg-ScreenControls,
.is-light .dpmsg-ScreenControls a {
  color: #5f7689;

  &:hover {
    color: #9db2d8;
  }
}

.is-light .dpmsg-ScreenControls .dpmsg-IconArrow {
  background-image: url('data:image/svg+xml,<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 600 600"><defs><style>.cls-1{fill: %234395d2;}</style></defs><title>app_icons</title><path class="cls-1" d="M275,468.73a36.26,36.26,0,0,0,50.26,0l0,0L589.1,206a36.27,36.27,0,0,0-51.29-51.29L300.69,391.8,63.56,154.67A36.27,36.27,0,0,0,12.27,206Z"/></svg>');
}

.dpmsg-StartChatScreen-FormMessage {
  color: var(--grey-darkest);
  display: block;
  font-family: Rubik, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 150%;
  margin: 25px 0;
}

.dpmsg-ScreenMobile.dpmsg-ScreenFrame {
  height: 100%;
  width: 100%;

  & .frame-content {
    height: 100%;

    & .dpmsg-AnimationDiv {

      & > div {
        height: 100%;
        width: 100%;

        & .dpmsg-ScreenWrap {
          width: 100%;
          height: 100%;
          margin: 0;

          & .dpmsg-Screen {
            width: 100%;
            border-radius: 0;

            & .dpmsg-Control {
              width: 100%;

              & .dpmsg-ScreenControls a.dpmsg-BackBtn.dpmsg-LevelLeft {
                left: 22px;
              }
            }
          }
        }
      }
    }
  }
}
