.dpmsg-MessageBubble {
  display: block;
}

.dpmsg-MessageBubbleRow {
  display: flex;
}

.dpmsg-AvatarCol {
  flex: 0 0 35px;
  margin-top: var(--xxs-space);
}

.dpmsg-AvatarCol img, .dpmsg-AvatarCol svg {
  height: 32px;
  margin-top: 10px;
  width: 32px;
}

.dpmsg-AvatarCol svg {
  color: var(--color-primary);
}

.dpmsg-AvatarCol svg path {
  fill: var(--color-primary);
}

.dpmsg-BubbleCol {
  display: block;
  width: 100%;

  &.is-center {
    align-items: center;
    display: flex;
  }
}

.dpmsg-MainTextarea[placeholder]:empty::before {
  color: #555;
  content: attr(placeholder);
}

.dpmsg-MainTextarea[placeholder]:empty:focus::before {
  content: "";
}

.dpmsg-BubbleAttachment {
  background: var(--white);
  border: 1px solid var(--grey-lighter);

  border-radius: var(--border-radius);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
  color: var(--grey-darkest);
  display: block;
  margin-bottom: var(--xxs-space);
  margin-top: var(--s-space);
  padding: var(--space);

  & .dpmsg-BubbleAttachmentContent {
    font-size: 14px;
    white-space: pre-wrap;
    word-break: break-word;

    & .dpmsg-BubbleAttachmentContentPreview {
      margin-bottom: var(--xxs-space);

      & img {
        max-width: 245px;
        max-height: 138px;
      }
    }
  }

  &.dpmsg-SameSender {
    margin-bottom: var(--xxs-space);
    margin-top: var(--xxs-space);
  }
}

.is-incoming .dpmsg-BubbleAttachment {

  &.dpmsg-SameSender {
    margin-left: 45px;
  }
}

.is-outgoing .dpmsg-BubbleAttachment {

  &.dpmsg-SameSender {
    margin-right: 45px;
  }
}

.dpmsg-BubbleItem {
  border-radius: var(--border-radius);
  color: var(--grey-darkest);
  display: block;
  font-size: var(--h1);
  margin-bottom: var(--xxs-space);
  margin-top: var(--space);
  padding: var(--s-space) var(--s-space) var(--s-space) var(--space);
  white-space: pre-wrap;
  word-break: break-word;

  &.dpmsg-SameSender {
    margin-bottom: var(--xxs-space);
    margin-top: var(--xxs-space);
  }
}

.dpmsg-BubbleItem img {
  max-width: 250px;
}

.is-incoming .dpmsg-BubbleItem {
  background-color: var(--grey-lightest);
  border: 1px solid var(--grey-light);

  &.dpmsg-SameSender {
    margin-left: 45px;
  }
}

.is-outgoing .dpmsg-BubbleItem {
  background-color: var(--white);
  border: 1px solid var(--grey-light);

  &.dpmsg-SameSender {
    margin-right: 45px;
  }
}

.is-outgoing .dpmsg-AvatarCol {
  margin-left: var(--s-space);
  order: 1;
  text-align: left;
}

.is-incoming .dpmsg-AvatarCol {
  margin-right: var(--s-space);
  text-align: right;
}

.dpmsg-BubbleNotification {
  color: var(--grey-darkest);
  display: block;
  font-size: var(--h2);
  font-style: italic;
  margin-bottom: var(--xs-space);
  margin-top: var(--l-space);
}

.dpmsg-BubbleNotification.is-left {
  text-align: left;
}

.dpmsg-BubbleNotification.is-right {
  text-align: right;
}

.dpmsg-BubbleItem.is-typing {
  align-items: flex-start;
  display: flex;
  font-size: 30px;
  height: 22px;
  justify-content: center;
  line-height: 2px;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: auto;
  padding: 0;
  width: 44px;
}
