.frame-root {
  bottom: 0;
  position: absolute;
  right: 0;
}

.dpmsg-TriggerBtn-wrapper {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}

.dpmsg-TriggerBtn-wrapper.left {
  align-items: flex-start;
  flex-direction: column;
}

.dpmsg-TriggerBtn-wrapper.left .dpmsg-TriggerBtn {
  margin-left: 13px;
}

.dpmsg-TriggerBtn-wrapper.avatar-widget {
  flex-direction: row;
  flex-wrap: nowrap;
}

.dpmsg-TriggerBtn-wrapper.avatar-widget.left {
  flex-direction: row-reverse;
  flex-wrap: nowrap;
}

.dpmsg-TriggerBtn {
  align-items: center;
  background-image: none;
  border-radius: 50%;
  box-shadow: 0 5px 8px 1px rgba(51, 51, 62, 0.3);
  cursor: pointer;
  display: flex;
  font-size: var(--p1);
  height: 50px;
  justify-content: center;
  margin-bottom: 8px;
  margin-right: 8px;
  position: relative;
  width: 50px;
}

.dpmsg-TriggerBtn img {
  border-radius: 50%;
  overflow: hidden;
}

.dpmsg-TriggerBtn * {
  cursor: pointer;
}

.dpmsg-TriggerBtn .dpmsg-IconBadge {
  font-size: 1.4em;
  position: absolute;
  right: -0.2em;
  top: -0.2em;
}

.dpmsg-TriggerBtn {

  &.is-blue {
    background-color: var(--color-primary);
  }

  &:hover {
    filter: greyscale(50%);
    transition: var(--animation-speed);
  }
}

.dpmsg-TriggerBtn .dpmsg-Icon {
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  font-size: inherit;
  height: 3.6em;
  width: 3.6em;
}

.dpmsg-TriggerBtn .dpmsg-IconChat {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2096%2099%22%20fill%3D%22%23ffffff%22%3E%3Cpath%20d%3D%22M48%204.8c-23.4%200-42.4%2019-42.4%2042.4%200%205.3%201%2010.5%202.9%2015.4%201.5%204%203.7%207.7%206.4%2011.1L8.7%2088.4c-.3.7-.2%201.5.3%202%20.4.5%201%20.8%201.6.8h.3l22.9-4c4.6%201.6%209.4%202.5%2014.2%202.5%2023.4%200%2042.4-19%2042.4-42.4S71.4%204.8%2048%204.8zm0%2080.8c-4.5%200-9-.8-13.3-2.4-.3-.1-.7-.2-1-.1l-19.8%203.5%205.3-12.4a2.01%202.01%200%200%200-.3-2.1c-2.8-3.3-5-7-6.5-10.9-1.7-4.5-2.6-9.2-2.6-14C9.6%2026%2026.8%208.8%2048%208.8S86.4%2026%2086.4%2047.2%2069.2%2085.6%2048%2085.6z%22%2F%3E%3Ccircle%20cx%3D%2232.8%22%20cy%3D%2248%22%20r%3D%224.6%22%2F%3E%3Ccircle%20cx%3D%2248%22%20cy%3D%2248%22%20r%3D%224.6%22%2F%3E%3Ccircle%20cx%3D%2263.2%22%20cy%3D%2248%22%20r%3D%224.6%22%2F%3E%3C%2Fsvg%3E");
}

.dpmsg-TriggerBtn .dpmsg-IconClose {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2217%22%20height%3D%2216%22%20stroke%3D%22%23ffffff%22%20fill%3D%22none%22%20stroke-linecap%3D%22round%22%20stroke-width%3D%222%22%3E%3Cpath%20d%3D%22M1.75%201.75l12.947%2012.947%22%2F%3E%3Cpath%20d%3D%22M15.25%201.75L2.303%2014.697%22%2F%3E%3C%2Fsvg%3E");
  height: 2em;
  width: 2em;
}
