@import "vars.css";
@import "components/swatches.css";
@import "components/level.css";
@import "components/triggerButtons.css";
@import "components/dpmsgScreen.css";
@import "components/dpmsgBlock.css";
@import "components/dpmsgAvatarHeadsList.css";
@import "components/dpmsgMessagePrompt.css";
@import "components/dpmsgMessageBubble.css";
@import "components/dpmsgGreetings.css";
@import "components/dpmsgInputs.css";
@import "components/dpmsgFroala.css";
@import "components/dpmsgScrollbar.css";
@import "components/dpmsgQuickSearch.css";
@import "elements/icons.css";
@import "elements/buttons.css";
@import "elements/content.css";

body {
  /* this is froala FF bug fix (wont affect webkit) */
  margin-top: 22px;
  /* this is froala FF bug fix (wont affect webkit) */
  margin-left: 0;
  padding: 0;
  position: initial;
}
